.wrapper {
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
}

.item {
    width: 280px;
    min-height: 280px;
    padding: 30px;
    text-align: center;
}

.icon {
    font-size: 4.5rem;;
    color: var(--green);
}

.title {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--black);
}

.description {
    font-size: 1.4rem;
    font-weight: 400;
    padding: 2px 0;
}
