.wrapper {
    font-size: 1.6rem;
    font-weight: 500;
    font-family: var(--font-family);
  
    min-width: 110px;
    padding: 9px 12px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: var(--white);
    cursor: pointer;
    user-select: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  
    + .wrapper {
      margin-left: 8px;
    }
  
    &.disable {
      pointer-events: none;
      opacity: 0.5;
    }
}
  
.icon + .title,
.title + .icon {
    margin-left: 8px;
  }
  
.icon {
    width: 24px;
    text-align: center;                                                                                                                                                                                                                                                                                                                                                                                                                                     
    display: inline-block;
  }


//   Button Styles
.text {
    &:hover {
      color: var(--green);
    }
  }


  // Button size
.small {
    width: 88px;
    padding: 4px 16px;
  }
  
.large {
    min-width: 140px;
    padding: 14px 16px;
  }