.menu-list {
  min-width: 216px;
  max-width: 240px;

  .menu-item {
    margin-left: 0;
  }
}

// Menu item
.menu-item {
    width: 100%;
    padding: 11px 16px;
    border-radius: 0;
    line-height: 1.8rem;
    font-weight: 600;
    justify-content: flex-start;
  
    &.separate {
      border-top: 2px solid rgba(22, 24, 35, 0.12);
    }
  
    &:hover {
      background-color: rgba(22, 24, 35, 0.03);
    }
  }