* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    
  }
  
  html {
    font-size: 62.5%;
  }

  // Scrollbar CSS
html *::-webkit-scrollbar {
    // height: 10px;
    width: 0px;
  }
  html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.06);
  }
  html *::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0);
  }
  
body {
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--text-color);
    overflow-y: overlay;
    //   tối ưu sao để hiển thị nhanh nhất
    text-rendering: optimizeSpeed;
  }

  