.wrapper {
  width: 100%;
  z-index: 1;
  position: fixed;
  top: var(--default-layout-header-height);
}

.container {
  margin: 0 -14px;
}

.tabs-container {
  width: 100%;
  height: 68px;
  padding: 0 26px;
  background-color: var(--white);
  border-bottom: 1px solid #ceced2;
  display: flex;
  align-items: center;

  .btn-tab {
    height: 100%;
    font-size: 1.6rem;
    font-weight: 600;
    font-family: var(--font-family);
    color: var(--text-color);
    padding: 9px 16px 9px 0;
    margin: 0 6px;
    margin-top: 2px;
    border-radius: 0px;
    border-bottom: 1px solid #ceced2;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .btn-tab:hover {
    color: var(--green);
    border-bottom-color: var(--green);
  }

  .active {
    color: var(--green);
    border-bottom-color: var(--green);
  }

  .tab-right {
    margin-left: auto;
  }
}
