.wrapper {
    display: flex;
    justify-content: center;
}

.poster {
    max-width: 1140px;
    margin-bottom: 20px; 
}

.item {
    padding: 10px;
    float: left;
    width: 25%;
    min-height: 220px;
    position: relative;

    .img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .caption {
        width: calc(100% - 20px);
        font-size: 1.6rem;
        padding: 5px 10px;
        color: var(--white);
        background-color: rgba(0, 0, 0, .4);
        text-align: center;
        position: absolute;
        bottom: 10px;
    }

    &:hover .caption{
        color: var(--green);
    }
}

