.wrapper {
  max-width: 1800px;
  width: 100%;
  padding: 32px;
  margin: 0 auto;
}

.container {
}

.detail-wrap {
  display: flex;
}

.detail-content {
  margin: 8px 0 64px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: auto;
}
.detail-img {
  width: 100%;
  max-height: 710px;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;

  .img {
    max-width: 888px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    animation: hideShow 0.35s ease-in-out;
  }

  .title-img {
    font-size: 1.8rem;
    color: var(--black);
    margin: 24px 0;
  }

  @keyframes hideShow {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.detail-outer {
  width: 376px;
  margin-left: 32px;
}

.inner-outer {
  border: 1px solid #ebecf0;
  border-radius: 16px;
  background-color: var(--white);
  box-shadow: 0 2px 8px 0 rgba(25, 27, 38, 0.06);
  position: sticky;
  top: 92px;

  .head-outer {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .license {
    width: 376px;
    font-size: 1.2rem;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: rgba(25, 27, 38, 0.64);
    display: flex;
  }

  .icon-license {
    font-size: 2rem;
    color: rgba(25, 27, 38, 0.64);
    margin-right: 6px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .link-license {
    text-decoration: underline;
    color: rgba(25, 27, 38, 0.64);
    font-weight: 600;
    cursor: pointer;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }

  .btn-subscribe {
    font-size: 1.4rem;
    font-weight: 500;
    border: 1px solid #ceced2;
    border-radius: 20px;
  }

  .btn-subscribe:hover {
    border: 1px solid var(--green);
    color: #191b26;
    color: var(--green);
  }

  .btn-downLoad:hover {
    background-color: #5cd697;
  }

  // Middle detail
  .middle-outer {
    padding: 24px;
    border: 1px solid rgb(235, 236, 240);
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .tools-trigger {
    display: flex;
    justify-content: space-between;
  }

  .btn-tool {
    min-width: 95px;
    color: var(--black);
    border: 1px solid #ceced2;
  }

  .btn-tool.active {
    color: var(--green);
    border-color: var(--green);
  }

  .btn-tool-notext {
    min-width: 0;
    border: 1px solid #ceced2;
  }

  .btn-tool:hover,
  .btn-tool-notext:hover {
    color: var(--green);
    border-color: var(--green);
  }

  .expanding-section {
  }

  .section-item {
    font-size: 1.4rem;
    line-height: 24px;
    display: flex;
    justify-content: space-between;
  }

  .footer-outer {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .footer-account {
    height: 46px;
    display: flex;
    justify-content: space-between;
  }

  .img-avatar {
    width: 46px;
    height: 46px;
    border-radius: 50%;
  }

  .usernameFollowers-container {
    width: 120px;
    margin-left: 6px;
    display: flex;
    flex-direction: column;
  }

  .username {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--black);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
  }

  .followers {
    font-size: 1.2rem;
    color: var(--text-color);
    cursor: default;
  }

  .button-followers {
    margin: auto 0;
  }

  .btn-fl {
    font-size: 1.2rem;
    padding: 9px 12px;
  }

  .btn-fl:hover {
    border-radius: 20px;
    background-color: #f7f7f7;
  }

  .btn-donate {
    width: 100%;
    border-radius: 20px;
    border-color: #ceced2;
  }

  .btn-donate:hover {
    color: var(--green);
    border-color: var(--green);
  }
}
