.wrapper {
  max-width: 1800px;
  width: 100%;
  padding: 32px;
  margin: 0 auto;
}

.container {
}

.detail-wrap {
  display: flex;
}

.detail-content {
  margin: 8px 0 64px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: auto;
}
.detail-img {
  width: 100%;
  max-height: 710px;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;

  .img {
    max-width: 888px;
    max-height: 85vh;
    min-height: 300px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    animation: hideShow 0.35s ease-in-out;
  }

  .title-img {
    font-size: 1.8rem;
    color: var(--black);
    margin: 24px 0;
  }

  @keyframes hideShow {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.detail-outer {
  width: 376px;
  margin-left: 32px;
}

.inner-outer {
  border: 1px solid #ebecf0;
  border-radius: 16px;
  background-color: var(--white);
  box-shadow: 0 2px 8px 0 rgba(25, 27, 38, 0.06);
  position: sticky;
  top: 92px;

  .head-outer {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .license {
    width: 376px;
    font-size: 1.2rem;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: rgba(25, 27, 38, 0.64);
    display: flex;
  }

  .icon-license {
    font-size: 2rem;
    color: rgba(25, 27, 38, 0.64);
    margin-right: 6px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .link-license {
    text-decoration: underline;
    color: rgba(25, 27, 38, 0.64);
    font-weight: 600;
    cursor: pointer;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    gap: 8px;
  }

  .subscribe {
    width: 100%;
  }

  .btn-subscribe {
    font-size: 1.4rem;
    font-weight: 500;
    width: 100%;
    border: 1px solid #ceced2;
    border-radius: 20px;
  }

  .btn-subscribe:hover {
    border: 1px solid var(--green);
    color: #191b26;
    color: var(--green);
  }

  .btn-downLoad:hover {
    background-color: #5cd697;
  }

  // Middle detail
  .middle-outer {
    padding: 24px;
    border: 1px solid rgb(235, 236, 240);
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .tools-trigger {
    display: flex;
    justify-content: space-between;
  }

  .btn-tool {
    min-width: 95px;
    color: var(--black);
    border: 1px solid #ceced2;
  }

  .btn-tool.active {
    color: var(--green);
    border-color: var(--green);
  }

  .btn-tool-notext {
    min-width: 0;
    border: 1px solid #ceced2;
  }

  .btn-tool:hover,
  .btn-tool-notext:hover {
    color: var(--green);
    border-color: var(--green);
  }

  .expanding-section {
  }

  .section-item {
    font-size: 1.4rem;
    line-height: 24px;
    display: flex;
    justify-content: space-between;
  }

  .footer-outer {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .footer-account {
    height: 46px;
    display: flex;
    justify-content: space-between;
  }

  .img-avatar {
    width: 46px;
    height: 46px;
    border-radius: 50%;
  }

  .usernameFollowers-container {
    width: 120px;
    margin-left: 6px;
    display: flex;
    flex-direction: column;
  }

  .username {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--black);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
  }

  .followers {
    font-size: 1.2rem;
    color: var(--text-color);
    cursor: default;
  }

  .button-followers {
    margin: auto 0;
  }

  .btn-fl {
    font-size: 1.2rem;
    padding: 9px 12px;
  }

  .btn-fl:hover {
    border-radius: 20px;
    background-color: #f7f7f7;
  }

  .btn-donate {
    width: 100%;
    border-radius: 20px;
    border-color: #ceced2;
  }

  .btn-donate:hover {
    color: var(--green);
    border-color: var(--green);
  }
}

// Responsive

// Tablet
@media (min-width: 740px) and (max-width: 1023px) {
  .detail-content {
    .title-img {
      margin: 16px 0;
    }
  }

  .detail-outer {
    width: 40%;

    .inner-outer {
    }

    .head-outer {
      padding: 12px;
    }

    .head-outer .license {
      width: 100%;
      font-size: 1rem;
    }

    .head-outer .icon-license {
      font-size: 1.2rem;
    }

    .btn-subscribe {
      color: var(--black);
    }

    .btn-subscribe,
    .btn-downLoad {
      font-size: 1.4rem;
      font-weight: 400;
      padding: 8px 12px;
    }

    .middle-outer {
      padding: 12px;
    }

    .middle-outer .btn-tool-notext,
    .middle-outer .btn-tool {
      font-size: 1.4rem;
      min-width: unset;
      padding: 6px 10px;
    }

    .middle-outer .btn-tool-notext {
      padding: 6px 12px;
    }

    .footer-outer {
      padding: 12px;
    }

    .footer-outer .footer-account {
      align-items: center;
    }

    .footer-account .img-avatar {
      width: 36px;
      height: 36px;
    }

    .footer-outer .usernameFollowers-container {
      width: 45%;
    }

    .usernameFollowers-container .username {
      font-size: 1rem;
      font-weight: 500;
    }

    .usernameFollowers-container .followers {
      font-size: 0.9rem;
    }

    .footer-outer .button-followers {
      font-size: 1rem;
      padding: 6px 0px 6px 12px;
      min-width: unset;
    }
  }
}

// Mobile
@media (max-width: 739px) {
  .wrapper {
    padding: 0;
  }

  .detail-wrap {
    flex-direction: column-reverse;
  }

  .detail-content {
    .img {
      max-height: 80vh;
    }

    .title-img {
      margin: 20px 16px;
      font-size: 1.4rem;
      font-weight: 400;
    }
  }

  .detail-outer {
    width: 100%;
    padding-bottom: 24px;
    margin: 0;

    .inner-outer {
      position: unset;
      border: unset;
      box-shadow: unset;
    }

    .head-outer {
      padding: 24px 16px 12px 16px;
    }

    .head-outer .license {
      width: 100%;
    }

    .head-outer .icon-license {
      font-size: 1.6rem;
    }

    .head-outer .buttons {
      gap: 8px;
    }

    .subscribe,
    .downLoad {
      flex: 50%;
    }

    .btn-subscribe,
    .btn-downLoad {
      width: 100%;
    }

    .middle-outer {
      padding: 6px 16px;
      border: unset;
    }

    .middle-outer .expanding-section {
      display: none;
    }

    .footer-outer {
      border: 1px solid rgba(25, 27, 38, 0.08);
      border-radius: 16px;
      padding: 16px 24px;
      margin: 12px 16px;
    }

    .footer-outer .img-avatar {
      width: 40px;
      height: 40px;
    }
  }
}
