.wrapper {
    width: 100%;
    background-color: var(--white);
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .2);
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    // display: flex; 
  }

  .inner {
    font-size: 1.6rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo-link {
    padding: 0 20px;
    display: flex;
    align-items: center;
  }

  .logoFeli {
    width: 88px
  }

  /* Picture */
  .menu-picture {
    padding: 13px 20px;
    font-weight: 500;
    cursor: pointer;

    &:hover {
      color: var(--green);
    }
  }

  /* Actions */
.actions {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: right;

  .price {
    color: var(--green);
  }

  .customer-service {
      padding: 13px 20px;
      font-weight: 500;
  }
  
  .customer-service:hover {
    color: var(--green);
  }
  
  .cart {
      padding: 13px 20px;
  }
}

.login {
    padding: 13px 20px;
    color: var(--text-color);
}

.img-avatar {
  width: 32px;
  border-radius: 50%;
}

.user-avatar {
  padding: 0 20px;
  display: flex;
}