.wrapper {
  display: flex;
  flex-direction: column;
  padding: 40px 32px 120px 32px;
}

.upper-content {
  margin: 0 20px;
  display: flex;

  .item {
    width: 20%;
    padding: 24px;
    margin: 0 20px;
    border: 1px solid rgba(25, 27, 38, 0.08);
    border-radius: 16px;
  }

  .item .title {
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
  }

  .item .data {
    color: var(--black);
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.4rem;
  }
}

.body-content {
  margin-top: 40px;

  .header {
    margin-bottom: 24px;
  }

  .header .heading {
    font-size: 2.2rem;
    color: var(--black);
  }

  .statistical {
    margin: 0 -12px;
    display: flex;
    flex-wrap: wrap;
  }

  .statistical .container {
    width: 50%;
    padding: 0 12px;
  }

  .container hr {
    margin: 0 -24px;
    border-color: rgba(25, 27, 38, 0.08);
    border-top: 0 rgba(25, 27, 38, 0.08);
    border-style: solid;
  }

  .statistical .container-myMedia {
    width: 100%;
    margin-top: 40px;
  }

  .container-myMedia .container-inner {
    height: 784px;
  }

  .container-inner {
    max-width: 100%;
    height: 560px;
    padding: 24px;
    border: 1px solid rgba(25, 27, 38, 0.08);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;
  }

  .title-container {
    padding-bottom: 24px;
    display: flex;
    align-items: center;
  }

  .title-text {
    line-height: 24px;
    font-size: 18px;
    font-weight: 600;
    color: var(--black);
  }

  .trigger-wrapper {
    color: var(--black);
    margin-left: 8px;
  }

  .icon-question {
    font-size: 1.4rem;
  }

  .date-range {
    line-height: 1.6rem;
    font-size: 1.2rem;
    font-weight: 400;
    margin-left: 8px;
  }

  .heading-container {
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
  }

  .heading-container .column-heading {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--black);
    line-height: 1.6rem;
    text-wrap: nowrap;
    flex: 1;
  }

  .heading-container .column-heading:last-child {
    display: flex;
    justify-content: flex-end;
  }

  .content-container {
    max-height: 560px;
    margin: 0 -24px;
    padding: 24px 24px 0;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
  }

  .no-data {
    line-height: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
  }

  .heading-no-data {
    color: var(--black);
    font-weight: 600;
    margin-bottom: 8px;
  }

  .sub-heading-no-data {
    color: var(--text-color);
  }

  .myMedia {
    height: 445px;
    background-size: cover;
    background-position: center;
    margin: 24px -10px 100px -10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .title-myMedia {
    font-size: 1.6rem;
    font-weight: 700;
    margin: 16px;
  }

  .text-myMedia {
    color: var(--text-color);
    margin: 8px 0 16px;
    text-align: center;
  }
}
