.wrapper {
    padding: 30px;
    background: #f2f4f8;
    display: flex;
    justify-content: center;
}

.guide {
    text-align: center;
}

.title {
    font-size: 2.2rem;
    color: var(--black);
    font-weight: 700;
    line-height: 5.2rem;
}

.description {
    font-size: 1.6rem;
    color: #666;
    line-height: 3.6rem;
}

// Category
.category {
    padding: 10px 0;

    .category-item {
        min-width: 100px;
        height: 36px;
        font-size: 1,4rem;
        line-height: 3,4rem;
        margin: 5px;
        color: #000000a6;
        background-color: var(--white);
        transition: all .3s cubic-bezier(.78,.14,.15,.86);
    }

    .category-item:hover {
        color: var(--white);
        background-color: var(--green);
        transition: all .3s cubic-bezier(.78,.14,.15,.86);
    }
}

// Galleries
.galleries {
    max-width: 1300px;
    margin: 36px auto;
}

.row {
    margin-left: -12px;
    margin-right: -12px;
    display: flex;
    flex-wrap: wrap;
}

.col{
    max-width: 20%;
    height: 260px;
    padding-left: 12px;
    padding-right: 12px;
    margin: 12px 0;
}

.galleries-item {
    margin-top: 10px;
    position: relative;

    .item-link {
        display: block;
    }

    .item-img {
        width: 100%;
        height: 200px;
        border-radius: 2px;
        object-fit: cover;
    }

    .item-icon {
        width: 30px;
        height: 30px;
        font-size: 1.4rem;
        background-color: rgba(0, 0, 0, .3);
        color: #fff;
        
        position: absolute;
        right: 0;
        bottom: 22.3%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .item-desc {
        margin-top: -6px;
        height: 58px;
        padding: 16px;
        display: flex;
        align-items: center;
        justify-content: center;       
        background-color: var(--white);
    }

    &:hover {
        // box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 8px 0px;
        box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
    }
}

